@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: Almendra, sans-serif;
}


.card-container {
    perspective: 1200px;
    width: 300px;
    height: 200px;
}


.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 15px;
}


.card.flip {
    transform: rotateY(180deg);
}


.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
}


.front {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #cecac5;
    border-radius: 15px;
    color: white;
}


.card-cover {
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}


.back {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    border: 2px solid black;
    border-radius: 15px;
}


.card-content {
    text-align: center;
    color: #fff;
    font-size: 22px;
}